{% extends 'base.html' %}
{% block content %}
  {% if book|length == 0 %}
    <h3>Sorry, no books found</h3>
  {% else %}
    <div class="container">   
        <h3 class="card-title text-center mb-5">{{book.title}}</h3>
        <p>
            <img loading="lazy" class="float-start me-3" src="//covers.openlibrary.org/b/id/{{ book.cover }}-M.jpg" />
            <strong>Description: </strong>{{book.description}}
        </p>
        <p>
            <strong>Author(s): </strong> <br />
                {% for author in book.authors %}
                    - {{author}}<br />
                {% endfor %}

        </p>
        <p>
            <strong>Published: </strong>{{book.published}}
        </p>
        <form action="/books/book/{{book.key}}/like" method="post">
            <a class="btn btn-outline-primary" href="/books/book/{{book.key}}/review">Leave a review</a>
            <button type="submit" class="btn btn-outline-success" >Add to likes</button>
            <a class="btn btn-outline-secondary" href="/books/trending">Back to Book List</a>
        </form>
        <h4>Reviews</h4>
        <ul class="list-group">
            {% for review in book.reviews %}
             <li class="list-group-item">{{review.review}} - by {{review.user.username}}</li>
            {% endfor %}
          </ul>
    </div>

  {% endif %}
{% endblock %}