<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>The Book List</title>

  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/bootstrap"></script>

  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body class="{% block body_class %}{% endblock %}">
<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/books/trending" class="navbar-brand">
        <i class="fas fa-book-reader"></i>
        <span>The Book List</span>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      {% if request.endpoint != None %}
      <li>
        <form class="navbar-form navbar-right" action="/books/search">
          <label class="visually-hidden" for="category">Search category</label>
          <select class="form-select" id="category" name="category">
            <option value="title">Title</option>
            <option value="subject">Subject</option>
            <option value="author">Author</option>
          </select>
          <label class="visually-hidden" for="search">Search text</label>
          <input name="q" class="form-control" required=true placeholder="Search The Book List" id="search">
          <button class="btn btn-default">
            <span class="fa fa-search"></span>
          </button>
        </form>
      </li>
      {% endif %}
      {% if not g.user %}
      <li><a href="/signup">Sign up</a></li>
      <li><a href="/login">Log in</a></li>
      {% else %}
      <li>
        <a href="/users/{{ g.user.id }}/likes">
          {{ g.user.username }}
        </a>
      </li>
      <li><a href="/books/trending">Trending Books</a></li>
      <li><a href="/users/{{ g.user.id }}/readers">Readers</a></li>
      <li><a href="/logout">Log out</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
<div class="container">
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}

  {% block content %}
  {% endblock %}

</div>
</body>
</html>